swagger: '2.0'
info:
  description: Hotel Reservation POC
  version: 1.0.0
  title: Hotel Reservations
  contact:
    email: matt@denvercliffs.com
  license:
    name: MIT license
    url: 'https://opensource.org/licenses/MIT'
host: hotel.mattcliff.net
basePath: /v1
tags:
  - name: hotel
    description: Hotel Information
  - name: room
    description: Room Information
  - name: reservation
    description: Operations about booking
schemes:
  - http
  - https
paths:
  /hotel:
    post:
      tags:
        - hotel
      summary: Add a new hotel to the system
      description: ''
      operationId: addHotel
      consumes:
        - application/json
        - application/xml
      produces:
        - application/xml
        - application/json
      parameters:
        - in: body
          name: body
          description: Hotel object that needs to be added
          required: true
          schema:
            $ref: '#/definitions/Hotel'
      responses:
        '405':
          description: Invalid input
      security:
        - hotel_auth:
            - 'write:hotel'
            - 'read:hotel'
    put:
      tags:
        - hotel
      summary: Update an existing hotel
      description: ''
      operationId: updateHotel
      consumes:
        - application/json
        - application/xml
      produces:
        - application/xml
        - application/json
      parameters:
        - in: body
          name: body
          description: Hotel object that needs to be updated
          required: true
          schema:
            $ref: '#/definitions/Hotel'
      responses:
        '400':
          description: Invalid ID supplied
        '404':
          description: Hotel not found
        '405':
          description: Validation exception
      security:
        - hotel_auth:
            - 'write:hotel'
            - 'read:hotel'
  '/hotel/{hotelId}':
    get:
      tags:
        - hotel
      summary: Find hotel by ID
      description: Returns a single hotel
      operationId: getHotelById
      produces:
        - application/xml
        - application/json
      parameters:
        - name: hotelId
          in: path
          description: ID of hotel to return
          required: true
          type: integer
          format: int64
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/Hotel'
        '400':
          description: Invalid ID supplied
        '404':
          description: Hotel not found
      security:
        - api_key: []
    delete:
      tags:
        - hotel
      summary: Deletes a Hotel
      description: ''
      operationId: deleteHotel
      produces:
        - application/xml
        - application/json
      parameters:
        - name: api_key
          in: header
          required: false
          type: string
        - name: hotelId
          in: path
          description: Hotel id to delete
          required: true
          type: integer
          format: int64
      responses:
        '400':
          description: Invalid ID supplied
        '404':
          description: Hotel not found
      security:
        - hotel_auth:
            - 'write:hotel'
            - 'read:hotel'
  '/hotel/{hotelId}/availableRooms':
    post:
      tags:
        - hotel
      summary: returns available rooms
      description: Returns a list of rooms available
      operationId: getAvailableRooms
      produces:
        - application/xml
        - application/json
      parameters:
        - name: hotelId
          in: path
          description: ID of hotel to return
          required: true
          type: integer
          format: int64
        - in: body
          name: body
          description: object that needs to be added
          required: true
          schema:
            $ref: '#/definitions/Reservation'
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/Hotel'
        '400':
          description: Invalid ID supplied
        '404':
          description: Hotel not found
      security:
        - api_key: []
  /room:
    post:
      tags:
        - room
      summary: Add a new room to the system
      description: ''
      operationId: addRoom
      consumes:
        - application/json
        - application/xml
      produces:
        - application/xml
        - application/json
      parameters:
        - in: body
          name: body
          description: Room object that needs to be added
          required: true
          schema:
            $ref: '#/definitions/Room'
      responses:
        '405':
          description: Invalid input
      security:
        - hotel_auth:
            - 'write:hotel'
            - 'read:hotel'
    put:
      tags:
        - room
      summary: Update an existing room
      description: ''
      operationId: updateRoom
      consumes:
        - application/json
        - application/xml
      produces:
        - application/xml
        - application/json
      parameters:
        - in: body
          name: body
          description: Room object that needs to be updated
          required: true
          schema:
            $ref: '#/definitions/Room'
      responses:
        '400':
          description: Invalid ID supplied
        '404':
          description: Room not found
        '405':
          description: Validation exception
      security:
        - hotel_auth:
            - 'write:hotel'
            - 'read:hotel'
  '/room/{roomId}':
    get:
      tags:
        - room
      summary: Find room by ID
      description: Returns a single room
      operationId: getRoomById
      produces:
        - application/xml
        - application/json
      parameters:
        - name: roomId
          in: path
          description: ID of room to return
          required: true
          type: integer
          format: int64
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/Room'
        '400':
          description: Invalid ID supplied
        '404':
          description: Room not found
      security:
        - api_key: []
    delete:
      tags:
        - room
      summary: Deletes a Room
      description: ''
      operationId: deleteRoom
      produces:
        - application/xml
        - application/json
      parameters:
        - name: api_key
          in: header
          required: false
          type: string
        - name: roomId
          in: path
          description: Room id to delete
          required: true
          type: integer
          format: int64
      responses:
        '400':
          description: Invalid ID supplied
        '404':
          description: Hotel not found
      security:
        - hotel_auth:
            - 'write:hotel'
            - 'read:hotel'
  '/room/{roomId}/uploadImage':
    post:
      tags:
        - room
      summary: uploads an image
      description: ''
      operationId: uploadFile
      consumes:
        - multipart/form-data
      produces:
        - application/json
      parameters:
        - name: roomId
          in: path
          description: ID of room to update
          required: true
          type: integer
          format: int64
        - name: additionalMetadata
          in: formData
          description: Additional data to pass to server
          required: false
          type: string
        - name: file
          in: formData
          description: file to upload
          required: false
          type: file
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/ApiResponse'
      security:
        - hotel_auth:
            - 'write:hotel'
            - 'read:hotel'
  /room/findRoom:
    post:
      tags:
        - room
      summary: finds a room
      description: ''
      operationId: findRoom
      consumes:
        - application/json
        - application/xml
      produces:
        - application/xml
        - application/json
      parameters:
        - in: body
          name: body
          description: Room object that needs to be added
          required: true
          schema:
            $ref: '#/definitions/RoomQuery'
      responses:
        '405':
          description: Invalid input
      security:
        - hotel_auth:
            - 'write:hotel'
            - 'read:hotel'
  /reservation/bookRoom:
    post:
      tags:
        - reservation
      summary: returns available rooms
      description: Returns a list of rooms available
      operationId: bookRoom
      produces:
        - application/xml
        - application/json
      parameters:
        - name: hotelId
          in: path
          description: ID of hotel to return
          required: true
          type: integer
          format: int64
        - in: body
          name: body
          description: object that needs to be added
          required: true
          schema:
            $ref: '#/definitions/Reservation'
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/Hotel'
        '400':
          description: Invalid ID supplied
        '404':
          description: Hotel not found
      security:
        - api_key: []
securityDefinitions:
  hotel_auth:
    type: oauth2
    authorizationUrl: 'http://petstore.swagger.io/oauth/dialog'
    flow: implicit
    scopes:
      'write:hotel': modify hotel in your account
      'read:hotel': read your hotels
  api_key:
    type: apiKey
    name: api_key
    in: header
definitions:
  ApiResponse:
    type: object
    properties:
      code:
        type: integer
        format: int32
      type:
        type: string
      message:
        type: string
  Hotel:
    type: object
    required:
      - name
      - city
    properties:
      hotelId:
        type: integer
        format: int64
      name:
        type: string
        example: The Landmark
      address:
        type: string
        example: 123 South Main Street
      city:
        type: string
        example: Denver
      phone:
        type: string
        example: (303) 555-STAY
      starts:
        type: integer
        example: The Landmark
    xml:
      name: Hotel
  Room:
    type: object
    required:
      - description
      - photoUrls
    properties:
      roomId:
        type: integer
        format: int64
      hotelId:
        type: integer
        format: int64
      description:
        type: string
        example: 1 bed suite with King
      photoUrls:
        type: array
        xml:
          name: photoUrl
          wrapped: true
        items:
          type: string
      startAvailDate:
        type: string
        format: date
      endAvailDate:
        type: string
        format: date
      status:
        type: string
        description: room status
        enum:
          - available
          - reserved
    xml:
      name: Room
  Reservation:
    type: object
    properties:
      startDate:
        type: string
        format: date
      endDate:
        type: string
        format: date
      guests:
        type: string
      roomId:
        type: string
  RoomQuery:
    type: object
    properties:
      startDate:
        type: string
        format: date
      endDate:
        type: string
        format: date
      guests:
        type: string
externalDocs:
  description: Find out more
  url: 'https://github.com/mcliff1/travel'
